.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: 1;
    height: 100vh;
}

.questionContent {
    flex: 5;
    height: 100vh;
    align-items: center;
    justify-content: center
}

.bottomTitleWrapper {
    align-items: center;
    background-color: #1368ce;
    flex: 1;
    height: 100vh;
}

.bottomTitleText {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    color: #fff;
}

.questionText {
    font-size: 40px;
    text-align: center;
    font-weight: bold
}